{:env    {:sc/create-fn net.wikipunk.asami/map->Connection
          :uri          "asami:mem://vocab"}
 :vocab  {:sc/create-fn net.wikipunk.rdf/map->UniversalTranslator
          :sc/refs      [:d3f :openai :qdrant :env]
          :context      []
          :finalize?    true}
 :d3f    {:sc/create-fn net.wikipunk.d3fend/map->D3FEND}
 :openai {:sc/create-fn net.wikipunk.openai/map->Client}
 :qdrant {:sc/create-fn net.wikipunk.qdrant/map->Client
          :sc/refs      [:openai]}
 :client {:sc/create-fn datomic.client.api/client
          :storage-dir  :mem
          :server-type  :datomic-local
          :system       "dev"}
 :db     {:sc/create-fn net.wikipunk.datomic/map->Connection
          :sc/refs      [:client]
          :db-name      "d3f"}}
